*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  background-color: #1f2937;
  color: white;
}

header h2{
  font-size: 24px;
}

.page_header{
  margin-left: 170px;
}

.links a{
  color: white;
  text-decoration: none;
  padding: 0 10px;
  transition: color .2s ease-in;
  cursor: pointer;
}

.links a:hover{
  color: #3882f6;
}

.links a:active{
  color: coral;
}

.hero_container{
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.hero_message{
  width: 400px;
}

.hero_message h1{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero_message p{
  color: #c4c4c4;
  font-size: 18px;
  margin-bottom: 10px;
}

.hero_message button{
  font-size: 18px;
  padding: 10px;
  width: 150px;
  border-radius: 15px;
  background-color: #3882f6;
  color: #fff;
  cursor: pointer;
  border: none;
  box-sizing: none;
  transition: background-color 0.25s ease-in;
}

.hero_message button:hover{
  background-color: coral;
}

.hero_container img{
  height: auto;
  width: 400px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 15px;
}

.information{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information h2{
  margin: 30px 0;
  font-size: 36px;
  font-weight: bold;
}

.cards_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 10px;
  transition: .25s ease-in;
}

.cards_container figcaption{
  text-align: center;
  color: #686868;
}

.offers{
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer_cards{
  height: 250px;
  width: 200px;
  padding: 10px;
  border: 3px solid #3882f6;
  border-radius: 10px;

}

.cards_container:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.offer_cards img{
  width: 180px;
  height: 200px;
}

.quote{
  background-color: #E5E7EB;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
}

.quote_text{
  width: 600px;
  font-size: 36px;
  font-weight: 100;
}

.quote_text figcaption{
  text-align: end;
  font-weight: bold;
  font-size: 18px;
}

.call{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 50px;
}

.call_to_action_container{
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  height: 120px;
  border-radius: 10px;
  padding: 80px; 
  color: #fff;
}

.call_header{
  font-size: 25px;
  font-weight: bold;
}

.call_to_action_container button{
  font-size: 22px;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid white;background-color: #3882f6;
  color: #fff;
  cursor: pointer;
  transition: 0.25s ease-in;
}

.call_to_action_container button:hover{
  background-color: coral;
}

footer{
  background-color: #1f2937;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}